<ion-content class="favoritos">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Favoritos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let fav of favoritos">
        
        <ion-item class="item-fav">
          <ion-thumbnail slot="start">
            <img class="imagen-fav" src="{{ fav.imagen }}" />
          </ion-thumbnail>
          <ion-label>{{ fav.ciudad }}</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
