.titulo {
    // font-weight: bold;
    text-align: center;
}

#titulo-page {
    color: red;
}

.barra-busqueda {
    margin-top: 10px;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }