.aviso{
    margin: 10px 10px 10px 10px;
    border: solid 1px grey;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    text-align: center;

}

.icon-aviso{
    font-size: 40px;
    margin-top: 10px;
    color: #8e2c2c;
}